<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.staj1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".kitap_ekle"></activity>
        <activity android:name=".o_liste" />
        <activity android:name=".kayit" />
        <activity android:name=".odunc_goruntule" />
        <activity android:name=".OduncEkrani" />
        <activity android:name=".iadeEkrani" />
        <activity android:name=".Gorevli1" />
        <activity android:name=".TumKitaplar" />
        <activity android:name=".OgrenciKitapAra" />
        <activity android:name=".OgrenciEkrani1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>